@model IEnumerable<Tour_Arrange.Models.Employee>
@{
    ViewBag.Title = "Index";
}

<h4 class="mb-lg-4 text-center text-primary">Employee List</h4>

<div class="d-flex justify-content-end mb-2">
    <a href="@Url.Action("Create","Employees")" id="btnCreate" class="btn btn-outline-primary btn-sm"><i class="fa fa-plus pr-2"></i> Add New</a>
</div>
<div>
    @foreach (var cl in Model)
    {
        <div class="card mb-2">
            <div class="card-header d-flex justify-content-between">
                <div>
                    <img src="@cl.EmployeePicture" width="32" height="32" class="rounded" />
                    <label class="mr-2"><b>Employee Name: </b>@Html.DisplayFor(x => cl.EmployeeName)</label>
                    <label class="mr-2"><b>Date of Birth: </b>@Html.DisplayFor(x => cl.BirthDate)</label>
                    <label class="mr-2"><b>Join Date: </b>@Html.DisplayFor(x => cl.JoinDate)</label>
                    <label class="mr-2"><b>Email: </b>@Html.DisplayFor(x => cl.Email)</label>

                </div>
                <div>
                    <a href="@Url.Action("Edit", "Employees", new { id=cl.EmployeeId})" id="btnEntryEdit" class="btn btn-outline-success"><i class="fa fa-edit"></i></a>
                    <a href="@Url.Action("Delete", "Employees", new { id=cl.EmployeeId})" id="btnEntryDelete" class="btn btn-outline-danger"><i class="fa fa-trash"></i></a>
                </div>
            </div>
            <div class="card-body">
                <table class="table table-bordered table-striped table-sm" id="myTable">
                    <thead class="table-primary">
                        <tr>
                            <th>Department Id</th>
                            <th>Department Name</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in cl.ManagementEntries)
                        {
                            <tr>
                                <td>@Html.DisplayFor(x => item.Department.DepartmentId)</td>
                                <td>@Html.DisplayFor(x => item.Department.DepartmentName)</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    }
</div>
