@model Tour_Arrange.Models.ViewModels.ClientVM
@{
    ViewBag.Title = "Create";
}

@using (Html.BeginForm("Create", "Clients", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <div class="row">
        <h2 class="mb-lg-4 text-center text-primary"> New Client Add</h2>
        <div class="col-8">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group row">
                @Html.LabelFor(x => x.ClientName, htmlAttributes: new { @class = "control-label col-3" })
                <div class="col-9">
                    @Html.EditorFor(x => x.ClientName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(x => x.ClientName, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group row">
                @Html.LabelFor(x => x.BirthDate, htmlAttributes: new { @class = "control-label col-3" })
                <div class="col-9">
                    @Html.EditorFor(x => x.BirthDate, "{0:yyyy-MM-dd}", new { htmlAttributes = new { @class = "form-control", Type = "date" } })
                    @Html.ValidationMessageFor(x => x.BirthDate, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group row">
                @Html.LabelFor(x => x.Age, htmlAttributes: new { @class = "control-label col-3" })
                <div class="col-9">
                    @Html.EditorFor(x => x.Age, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(x => x.Age, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group row">
                @Html.LabelFor(x => x.PicturePath, htmlAttributes: new { @class = "control-label col-3" })
                <div class="col-9">
                    @Html.TextBoxFor(x => x.PicturePath, new { @class = "form-control", Type = "file" })
                    @Html.ValidationMessageFor(x => x.PicturePath, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group row">
                @Html.LabelFor(x => x.MaritalStatus, htmlAttributes: new { @class = "control-label col-3" })
                <div class="col-9">
                    <div class="checkbox">
                        @Html.EditorFor(x => x.MaritalStatus)
                        @Html.ValidationMessageFor(x => x.MaritalStatus, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="row d-flex justify-content-end mb-3">
                <h5 class="col-sm-10 fw-bold">Select Spot</h5>
                <a href="#" id="btnPlus" class="btn col-sm-2 btn-warning mr-2"><i class="fa fa-plus"></i></a>
            </div>
            <div id="SpotContainer">
                @Html.Action("AddNewSpot", "Clients")
            </div>
        </div>
        <div class="d-flex justify-content-start offset-2">
            <input type="submit" value="Create" class="btn btn-primary btn-sm mt-3" />
        </div>
    </div>
    <div>
        <a href="@Url.Action("Index","Clients")" class="btn btn-link"><i class="fa fa-arrow-left"></i> Back to list</a>
    </div>
}


